#ErrorDocument 404 / 404.php
RewriteEngine On

RewriteRule ^blog?$ blog.php
RewriteRule ^index?$ index.php
RewriteRule ^python?$ python.php
RewriteRule ^dashboard?$ dashboard.php
RewriteRule ^logout?$ logout.php
RewriteRule ^profil?$ profil.php
RewriteRule ^forum?$ forum.php
 Options All -Indexes
<Files .htaccess>
		order allow,deny
		deny from all


</Files>

     ServerSignature Off
  

